<%- include("../partials/head.ejs") %>

<h1>Form to create a new pokemon</h1>

<form action="/pokemon" method="post">
    <input type="text" name="name" placeholder="Enter ID # here">
    <input type="text" name="name" placeholder="Enter name here">
    <input type="text" name="type" placeholder="Enter type here">
    <!-- <input type="file" name="imageInput" accept="image/png, image/jpg" id="fileName" placeholder="Upload Pokemon Image"> -->
    <br>
    <input class="button" type="submit" value="Catch New Pokemon">
    <br>
    <a href="/pokemon">Back to pokedex</a>

</form>